<footer class="footer-bs">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<img style="position:relative; left:-30px; top:-30px" ; src="/images/site-wide-resources/bulqup-icon.png">
                <p>© 2017 Bulqup, MIT License</p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h4 class="col-md-1 footer-titles">Menu</h4>
            	<br>
            	<div class="col-md-5">
                    <ul class="col-md-1">
                        <ul><a class="footer-alinks pages" href="#">Home</a></ul>
                        <ul><a class="footer-alinks pages" href="/about">About</a></ul>
                        <ul><a class="footer-alinks pages" href="#">Store</a></ul>
                        <ul><a class="footer-alinks pages" href="#">Apps</a></ul>
                        <ul><a class="footer-alinks pages" href="#">Donate</a></ul>
                    </ul>
                </div>
            	<div class="col-md-6">
                    <ul class="list">
                        <ul><a class="footer-alinks pages" href="#">FAQ</a></ul>
                        <ul><a class="footer-alinks pages" href="#">Terms & Condition</a></ul>
                        <ul><a class="footer-alinks pages" href="#">Privacy Policy</a></ul>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4 class="footer-titles">Follow Us</h4>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                	<li><a href="#">RSS</a></li>
                </ul>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4 class="footer-titles">Newsletter</h4>
                <p>Wanna be a fam? Enter your email here!</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Email here">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>
</div>

	 <!--jQuery Plugins -->
	<script src="/js/newHomepage/jquery.min.js"></script>
	<script src="/js/newHomepage/bootstrap.min.js"></script>
	<script src="/js/newHomepage/jquery.stellar.min.js"></script>
	<script src="/js/newHomepage/main.js"></script>
</body>
</html>