
				<div class="col-md-4">
					<!-- ad widget -->
					<div class="aside-widget text-center">
						<a href="#" style="display: inline-block;margin: auto;">
							<img class="img-responsive" src="./img/ad-3.jpg" alt="">
						</a>
					</div>
					<!-- /ad widget -->

					<!-- social widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Social Media</h2>
						</div>
						<div class="social-widget">
							<ul>
								<li>
									<a href="#" class="social-facebook">
										<i class="fa fa-facebook"></i>
										<!--<span>21.2K<br>Followers</span>-->
									</a>
								</li>
								<li>
									<a href="#" class="social-twitter">
										<i class="fa fa-twitter"></i>
										<!--<span>10.2K<br>Followers</span>-->
									</a>
								</li>
								<li>
									<a href="#" class="social-google-plus">
										<i class="fa fa-google-plus"></i>
										<!--<span>5K<br>Followers</span>-->
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- /social widget -->

					<!-- category widget -->
					<!--<div class="aside-widget">-->
					<!--	<div class="section-title">-->
					<!--		<h2 class="title">Categories</h2>-->
					<!--	</div>-->
					<!--	<div class="category-widget">-->
					<!--		<ul>-->
					<!--			<li><a href="#">Workouts <span>3</span></a></li>-->
					<!--			<li><a href="#">Nutrition<span>2</span></a></li>-->
					<!--			<li><a href="#">Lifestyle <span>1</span></a></li>-->
					<!--			<li><a href="#">Gain plans<span>0</span></a></li>-->
					<!--		</ul>-->
					<!--	</div>-->
					<!--</div>-->
					<!-- /category widget -->

					<!-- newsletter widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Newsletter</h2>
						</div>
						<div class="newsletter-widget">
							<form>
								<p>Wanna be a fam? Enter your email address to follow us and get exclusive content</p>
								<input class="input" placeholder="Enter Your Email">
								<button class="primary-button">Subscribe</button>
							</form>
						</div>
					</div>
					<!-- /newsletter widget -->

					<!-- post widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Popular Posts</h2>
						</div>
						<!-- post -->
						<div class="post post-widget">
							<a class="post-img" href="/articles/how-much-protein-should-you-munch"><img src="/images/articles/how-much-protein-should-you-munch/widget-protein.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-category">
									<a href="category.html">Lifestyle</a>
								</div>
								<h3 class="post-title"><a href="blog-post.html">How much protein should you munch</a></h3>
							</div>
						</div>
						<!-- /post -->

						<!-- post -->
						<div class="post post-widget">
							<a class="post-img" href="/articles/how-do-muscles-grow"><img src="/images/articles/how-do-muscles-grow/widget-muscles.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-category">
									<a href="category.html">Lifestyle</a>
								</div>
								<h3 class="post-title"><a href="blog-post.html">How do Muscles grow?</a></h3>
							</div>
						</div>
						<!-- /post -->

						<!-- post -->
						<div class="post post-widget">
							<a class="post-img" href="/articles/5x5"><img src="/images/articles/5x5/widget-5x5.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-category">
									<a href="category.html">Workout</a>
								</div>
								<h3 class="post-title"><a href="blog-post.html">Bulqup's 5x5 Workout: The ultimate mass gainer workout</a></h3>
							</div>
						</div>
						<!-- /post -->

						<!-- post -->
						<!--<div class="post post-widget">-->
						<!--	<a class="post-img" href="blog-post.html"><img src="./img/widget-5.jpg" alt=""></a>-->
						<!--	<div class="post-body">-->
						<!--		<div class="post-category">-->
						<!--			<a href="category.html">Health</a>-->
						<!--			<a href="category.html">Lifestyle</a>-->
						<!--		</div>-->
						<!--		<h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>-->
						<!--	</div>-->
						<!--</div>-->
						<!-- /post -->
					</div>
					<!-- /post widget -->

					<!-- galery widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Instagram</h2>
						</div>
						<div class="galery-widget">
							<ul>
								<li><a href="#"><img src="./img/galery-1.jpg" alt=""></a></li>
								<li><a href="#"><img src="./img/galery-2.jpg" alt=""></a></li>
								<li><a href="#"><img src="./img/galery-3.jpg" alt=""></a></li>
								<li><a href="#"><img src="./img/galery-4.jpg" alt=""></a></li>
								<li><a href="#"><img src="./img/galery-5.jpg" alt=""></a></li>
								<li><a href="#"><img src="./img/galery-6.jpg" alt=""></a></li>
							</ul>
						</div>
					</div>
					<!-- /galery widget -->

					<!-- Ad widget -->
					<div class="aside-widget text-center">
						<a href="#" style="display: inline-block;margin: auto;">
							<img class="img-responsive" src="./img/ad-1.jpg" alt="">
						</a>
					</div>
					<!-- /Ad widget -->
				</div>