<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/images/site-wide-resources/bulqup-icon.png">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>5x5 Workout</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/newHome/newHomepageBootstrap.min.css">
	<!--<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />-->

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/css/newHome/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/newHome/newHomepage.css"/>
	<link type="text/css" rel="stylesheet" href="/css/footer.css" />
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	<style>
	    body {
            font-family: 'Roboto', sans-serif;
        }
	</style>

</head>

<body>
	<!-- HEADER -->
	<header id="header" style="background-color: #222;">
		<!-- NAV -->
		<% include ../partials/newHeader%>
		<!-- /NAV -->
		
		<!-- PAGE HEADER -->
		<div id="post-header" class="page-header">
			<div class="page-header-bg" style="background-image: url('/images/articles/5x5/header-1.jpg');" data-stellar-background-ratio="0.5"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<div class="post-category">
							<a href="category.html">Workout</a>
						</div>
						<h1>Bulqup's 5x5 Workout</h1>
						<ul class="post-meta">
							<li><a href="author.html">Minjun Kim</a></li>
							<li>September 16, 2018</li>
							<!-- Uncomment this with Disqus integration -->
							<!-- <li><i class="fa fa-comments"></i> 3</li>
							<li><i class="fa fa-eye"></i> 807</li> -->
						</ul>
				</div>
			</div>
		</div>
		</div>
		
		<!-- PAGE HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- post share -->
					<div class="section-row">
						<div class="post-share">
							<a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
							<a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
							<a href="#" class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>
							<a href="#" ><i class="fa fa-envelope"></i><span>Email</span></a>
						</div>
					</div>
					<!-- /post share -->

					<!-- post content -->
					<div class="section-row">
						<h3>What is 5x5 workout?</h3>
						<p>5x5 workout is a workout that has proven to be most effective for muscle growth and gaining mass in a short period of time especially for beginners. There are a lot of beneficial workout programs for beginners trying to put on mass, but the problem is that they overlook the importance of gaining mass and overestimate the level of knowledge that a newbie in fitness has. 3-day workout regime is usually recommended for a beginner, which focuses on chest, back and legs. While this is beneficial, they fall into the critical mistake of not focusing muscle activity in one area, rather spreading out the energy through various region. For example, on a chest day, bench press/tricep/dips will be prescribed together which is good for separating the muscle, and setting the tone, but slows down the muscle growth.</p>
						<p>5x5 workout on the other hand will maximize the gaining of muscle by strictly focusing the energy consumption on one compound exercise that focuses on the biggest muscle of the body (Squat for legs - Gluteus maximus as a primary mover, and quads/core/soleus as a secondary mover/ Barbell Row for Back - Lat as a primary mover, trap, biceps, forearms and lower back as a secondary mover Bench Press - Pectoralis Major and Lat as a primary mover, tricep, deltoid as a secondary mover). By maximizing the energy expenditure on biggest three muscle parts, while focusing on controlling the primary muscle and inducing the strength of secondary muscle as well, 5x5 workout leads to the most muscle growth and gaining mass in a shortest period of time.</p>
						<figure class="pull-right">
							<img src="/images/articles/5x5/media-1.jpg" alt="">
							<figcaption>5x5 helps you gain muscle faster</figcaption>
						</figure>
						<h3>Muscles Worked:</h3>
						<ul>
							<h4>Route A: Barbell Row, Bench Press, Squat</h4>
							<p>Back, Chest, Glute.</p>
							<h4>Route B: Deadlift, Overhead Press, Squat</h4>
							<p>Back, Shoulder, Glute.</p>
						</ul>
						
						<h3>Excercise Order:</h3>
						<p>Although it is up to the individual performing the exercise to arrange the order of exercise as they see fit, general recommendation is to start with squat first. As the common name applies, it is the king of exercises, thus requires most energy consumption. That being said, it also leads to higher testosterone level. Gluteus maximus is simply the largest muscle of the body that keeps the core intact, allow efficient movement that is the basis of every movement. Thus, perform squat first so you can maximize your energy consumption with highest muscle growth.</p>
						<p>After Squat, I would recommend performing barbell row. Although both barbell row and bench press are both compound movements that work your upper body, posterior chain muscle is more important than anterior muscle (Side note: muscles that are located dorsal - on the back side of your body) because posterior muscles are the stabilizers of the body movements. (Just think about all the powerbuilders with huge back - back comes before chest). </p>
						<p>Lastly, bench press can be performed. Common mistake that lots of fitness beginners make is to hyper-focus on bench press and working on your chest muscles. Bench press is great for working your chest muscle in general, and does look great for aesthetics. It is a primal instinct to puff up your chest to look strong. However, as great as bench press is as an exercise, its epidemic over usage does not confer as much functionality as the popularity suggests. I would also suggest performing different variations of push ups after or in between bench press because push ups incorporate a lot more core stability during exercise while working out the chest muscles (WHY? Lead to better functionality and performance!)</p>
						<blockquote class="blockquote">
							<p>5x5 is designed so that it works out all the major muscle sets in your body. Combined with a healthy nutrition regime, it'll yield maximum results in the shortest time. Just focus on mazimizing your RM and that's it!</p>
							<footer class="blockquote-footer">Minjun Kim</footer>
						</blockquote>
						<h3>Sets & Reps</h3>
						<p>Perform the exercise five sets with five repetition on each. Ideally, you should feel exhausted and unable to perform the exercise that you just performed. Although there are lots of different exercise repetition out there (pyramid training, german volume training, etc) for muscles growth, 5x5 workout has proven to be best for muscle mass growth and gain. When starting the exercise, try different variations of weights to see what your 1RM is. 1 RM basically stands for 1 repetition max, the highest weight that you can lift without ruining your form. If your form collapses during the performance (tilt your core to one side, or back bending, incorporating improper muscle), then it does not count. Find your 1RM. (TIPS: It is a good idea to have a spotter while figuring out your 1RM, or performing the exercise under safe conditions - for instance, use SMITH machine for squat. Definitely have a spotter for bench press, you do not want that heavy weight falling on your chest).</p>
						<p>Once you found your 1RM, perform the 5 x 5 exercise with 50% of your 1RM. For high-endurance athletes, this might be 60% whereas for regular young-lads, it could be 40%. Generally, if you perform the exercise 50% of 1RM, you should be able to exert full exertion to your limit.</p>
						<figure>
							<img src="/images/articles/5x5/media-2.jpg" alt="">
						</figure>
						<h3>Rest</h3>
						<p>Well maybe not like the one in the picture above but the general rule of thumb is not to take too short of a break, or too long of a break in between the exercises. If you take too short of a break, you might not feel as recovered to perform the exercise. If you take too long of a break, you might feel lousy. Really, the rest time depends on every individual.</p>
						<p>For extremely high weight with less reps, it is recommended to take a longer break and shorter break for lighter weight with higher reps. As 5 x 5 falls in the middle in between those two, general recommendation is to take 1 minute to 2 minute break in between the exercises. As long as it is not under 30 seconds and not over 4 minutes, you should be fine.</p>
						<h3>Progression</h3>
						<p>Progression is one of the MOST IMPORTANT part of the exercises I would say after FORM and CONSISTENCY. These three elements go hand in hand together, without one element, you can not achieve the other. One thing to remember is to set your goal in long-term, keep imagining achieving that goal, and working on short goals fervently. Have a small goal of microloading for every week or 2 weeks (I would do 2 weeks personally, as changing weight every week is stressful and feels to much for me).</p>
						<ul>
							<li>Eg) Option 1: Add 5 lbs every 2nd week</li>
							<p>Week 1: 1RM Squat 70lbs. 1RM Bench Press 40lbs. 1RM Barbell Row 40lbs.<br> Week 3: 1RM Squat 75lbs. 1RM Bench Press 45lbs. 1RM Barbell Row 45lbs. <br>6 month: 1RM Squat 125lbs, 1RM Bench Press 85lbs, 1RM Barbell Row 80lbs. <br> Pros: It is easy on the mind, and easy on the body. Thus, it will be easier to keep it. <br>Cons: The growth might be bit slow. (Still 2x the weight goal reached in 1 year!)</p>
							
						</ul>
						<br>
						<ul>
							<li>Ex) Option 2: Add 10% every 2nd week</li>
							<p>Week 1: 1RM Squat 70lbs. 1RM Bench Press 40lbs. 1RM Barbell Row 40lbs.<br>Week 3: 1RM Squat 77lbs. 1RM Bench Press 44lbs. 1RM Barbell Row 44lbs.<br>6 month: 1RM Squat 195lbs, 1RM Bench Press 112lbs, 1RM Barbell Row 112lbs.<br>Pros: It is a bit more difficult to follow, but muscle growth will be very fast.<br>Cons: Addition of weight will inevitably become very difficult as you proceed.</p>
						</ul>
						<br>
						<p>Personally, I recommend the second option. I like it better because my mind always sets the goal of becoming the strongest, best version of myself and reaching the limit I could not before. However, you have to be DEVOTED to choose the second option as it is hard on your body. Both options are great, and lead to tremendous growth in short time.</p>
						
						<h3>Forms</h3>
						<p>Form is one of the MOST CRUCIAL PART of the exercise. Incorrect form of performing the exercise, you will be prone to low back injury, muscle strain, excessive fatigue, scoliosis, muscle damage just to name a few. DO NOT become one of those guys that perform the squat 250lbs, but unable to do 10 repetition of pull ups. DO NOT become one of those guys who are able to lift tons, but have excessive fatigue, work out at the gym and come home take a nap. Weightlifting is supposed to help you to become stronger, not weaker. (As my bio professor once said, FUNCTIONALITY follows STRUCTURE. In bodybuilding, FUNCTIONALITY is EVERYTHING).</p>
						<p>When performing exercises, there are a few things to remember.</p>
						<ol>
							<li>Your spine should be in neutral position. (a little curve on the back is okay, but do not over exaggerate the arch - this leads to a condition called lumbar lordosis - we want a functional glute, not a huge ass that does nothing for your body).</li>
							<li>Breathe RIGHT (This is so often neglected in bodybuilding, breathing is the key to all exercises). Refer to breathing section after FORMS section.</li>
							<li>Please, Please, FEEL THE MUSCLE. Mind-muscle connectivity is the most important thing while working out, if you use your lower back as a primary muscle to perform squat, you might as well not do it at all. (Squat - engage glute and core muscles. Deadlift - engage glute, core, back muscles. Bench Press - Engage Chest muscles and core muscles). If you use secondary muscle as a primary muscle (for example, biceps and forearms instead of lats and traps for deadlift, just STOP and lower the weight). </li>
						</ol>
						<p>Aside from this, I put in specific tips for better forms in each workout documents. But, generally if you follow these four rules, everything else will come naturally. Remember. I can not emphasize this enough. STRUCTURE dictates FUNCTIONALITY, and FUNCTIONALITY is EVERYTHING. Become strong, but be functional. Do not become strong with restricted range of motion restricting your breathing pattern, movement, and lifestyle.</p>
						<p>We will talk about functionality more in later articles to be published. If you can, follow Andreas Saltas, bodymechanic on instagram. (He is a professional physical therapist, one of the best I have seen in my life. Great knowledge, even better motivation, and a lot of innovative techniques to follow. A true living legend in fitness industry).</p>
						
						
						<h3>Breathing Techiques</h3>
						<p>I don’t even know where to start with this. So many people forget how important breathing technique is during weight lifting and take shallow breaths. There are many many guides out there for different breathing techniques, most of them wonderful, but follows generally a same technique called Valsalva Maneuver. This technique basically increases the abdominal pressure so that your core is kept tight in a neutral position during all times while performing heavy lifts.</p>
						<figure class="pull-right">
							<iframe width="400" height="300" src="https://www.youtube.com/embed/PLHY2-nt-y4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							<figcaption>Breathing techniques</figcaption>
						</figure>
						<p>There are great fitness youtubers out there, elliot, athlene X, omarislaf, etc. But, among those, I don’t think there is anyone that teaches and explains Valsalva Maneuver as well as this guy, Brian Alsruhe.</p>
						<p>Basically, you want to fill your belly with air as much as possible before performing squat and deadlift when locked in position (neutral spine, glute contracted, core tight). Then perform the movement. It will come natural after a few tries.</p>
					
						<h3>Common Courtesy</h3>
						
						<ol>
							<li>Please, wipe after using the equipment. So many people do not clean up the equipments after they use them. No one likes to have their skin touched by other people’s sweat.</li>
							<figure class="pull-right">
								<iframe width="400" height="300" src="https://www.youtube.com/embed/hJmVlt98FLA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								<figcaption>Breathing techniques</figcaption>
							</figure>
							<li>When you deadlift or do clean press, please do not drop your barbells afterwards making a loud noise. Pretty funny video, but please, have some manners.</li>
							<li>Please remove your weight after using smith machine. If you can lift 300 lbs, you can get rid of those weights after. If you don’t have enough energy to resort them, do one less rep and put the plates back where they belong.</li>
						</ol>
						
						<br>
						<h3>General Tips</h3>
						<p>Try to remember one important cue every day. There are a lot of things written on this article to follow, and it will be difficult to remember them, not to mention incorporate them into workouts. (Relaxing shoulder - Incorporating primary muscles - Valsalva Maneuver - Neutral Spine position - Slight Arch on the back… List goes on and on). Try to perfect one element a day, so that by the time you work out for a month, you will master them all.</p>
						<br>
						<p>Lastly, and MOST IMPORTANTLY, ENJOY!</p>
						
						<div class="section-row loadmore text-center">
							<a href="/workouts" class="primary-button">5x5 Workouts</a>
						</div>
					
					
					</div>
					<!-- /post content -->

					<!-- post tags -->
					<div class="section-row">
						<div class="post-tags">
							<ul>
								<li>TAGS:</li>
								<li><a href="#">Workout</a></li>
							</ul>
						</div>
					</div>
					<!-- /post tags -->

					<!-- post nav -->
					<div class="section-row">
						<div class="post-nav">
							<div class="prev-post">
								<a class="post-img" href="/articles/how-to-get-the-best-sleep"><img src="/images/newHome/hot-post-2.jpg" alt=""></a>
								<h3 class="post-title"><a href="#">How to get the best sleep?</a></h3>
								<span>Previous post</span>
							</div>

							<div class="next-post">
								<a class="post-img" href="/articles/how-do-muscles-grow"><img src="/images/newHome/hot-post-3.jpg" alt=""></a>
								<h3 class="post-title"><a href="#">How do Muscles grow?</a></h3>
								<span>Next post</span>
							</div>
						</div>
					</div>
					<!-- /post nav  -->

<% include ../partials/authors/minjun%> 

					<!-- /related post -->
					<!--<div>-->
					<!--	<div class="section-title">-->
					<!--		<h3 class="title">Related Posts</h3>-->
					<!--	</div>-->
					<!--	<div class="row">-->
							<!-- post -->
					<!--		<div class="col-md-4">-->
					<!--			<div class="post post-sm">-->
					<!--				<a class="post-img" href="blog-post.html"><img src="./img/post-4.jpg" alt=""></a>-->
					<!--				<div class="post-body">-->
					<!--					<div class="post-category">-->
					<!--						<a href="category.html">Health</a>-->
					<!--					</div>-->
					<!--					<h3 class="post-title title-sm"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><a href="author.html">John Doe</a></li>-->
					<!--						<li>20 April 2018</li>-->
					<!--					</ul>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /post -->

							<!-- post -->
					<!--		<div class="col-md-4">-->
					<!--			<div class="post post-sm">-->
					<!--				<a class="post-img" href="blog-post.html"><img src="./img/post-6.jpg" alt=""></a>-->
					<!--				<div class="post-body">-->
					<!--					<div class="post-category">-->
					<!--						<a href="category.html">Fashion</a>-->
					<!--						<a href="category.html">Lifestyle</a>-->
					<!--					</div>-->
					<!--					<h3 class="post-title title-sm"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><a href="author.html">John Doe</a></li>-->
					<!--						<li>20 April 2018</li>-->
					<!--					</ul>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /post -->

							<!-- post -->
					<!--		<div class="col-md-4">-->
					<!--			<div class="post post-sm">-->
					<!--				<a class="post-img" href="blog-post.html"><img src="./img/post-7.jpg" alt=""></a>-->
					<!--				<div class="post-body">-->
					<!--					<div class="post-category">-->
					<!--						<a href="category.html">Health</a>-->
					<!--						<a href="category.html">Lifestyle</a>-->
					<!--					</div>-->
					<!--					<h3 class="post-title title-sm"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><a href="author.html">John Doe</a></li>-->
					<!--						<li>20 April 2018</li>-->
					<!--					</ul>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /post -->
					<!--	</div>-->
					<!--</div>-->
					<!-- /related post -->

					<!-- post comments -->
					<!--<div class="section-row">-->
					<!--	<div class="section-title">-->
					<!--		<h3 class="title">3 Comments</h3>-->
					<!--	</div>-->
					<!--	<div class="post-comments">-->
							<!-- comment -->
					<!--		<div class="media">-->
					<!--			<div class="media-left">-->
					<!--				<img class="media-object" src="./img/avatar-2.jpg" alt="">-->
					<!--			</div>-->
					<!--			<div class="media-body">-->
					<!--				<div class="media-heading">-->
					<!--					<h4>John Doe</h4>-->
					<!--					<span class="time">5 min ago</span>-->
					<!--				</div>-->
					<!--				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
					<!--				<a href="#" class="reply">Reply</a>-->
									<!-- comment -->
					<!--				<div class="media media-author">-->
					<!--					<div class="media-left">-->
					<!--						<img class="media-object" src="./img/avatar-1.jpg" alt="">-->
					<!--					</div>-->
					<!--					<div class="media-body">-->
					<!--						<div class="media-heading">-->
					<!--							<h4>John Doe</h4>-->
					<!--							<span class="time">5 min ago</span>-->
					<!--						</div>-->
					<!--						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
					<!--						<a href="#" class="reply">Reply</a>-->
					<!--					</div>-->
					<!--				</div>-->
									<!-- /comment -->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /comment -->

							<!-- comment -->
					<!--		<div class="media">-->
					<!--			<div class="media-left">-->
					<!--				<img class="media-object" src="./img/avatar-3.jpg" alt="">-->
					<!--			</div>-->
					<!--			<div class="media-body">-->
					<!--				<div class="media-heading">-->
					<!--					<h4>John Doe</h4>-->
					<!--					<span class="time">5 min ago</span>-->
					<!--				</div>-->
					<!--				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
					<!--				<a href="#" class="reply">Reply</a>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /comment -->
					<!--	</div>-->
					<!--</div>-->
					<!-- /post comments -->

				
				</div>
				
				<% include ../partials/sidebar%> 
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	
	
	
	
	
	
	<!-- /SECTION -->
	<div class="container">
		<div id="disqus_thread"></div>
	</div>
	<script>

	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	
	var disqus_config = function () {
	this.page.url = 'https://bulqup-web-ss4328.c9users.io/articles/5x5';  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = 'test/5x5'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://bulqup.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	<!-- FOOTER -->
<!--	<footer id="footer">-->
		<!-- container -->
<!--		<div class="container">-->
			<!-- row -->
<!--			<div class="row">-->
<!--				<div class="col-md-3">-->
<!--					<div class="footer-widget">-->
<!--						<div class="footer-logo">-->
<!--							<a href="index.html" class="logo"><img src="./img/logo-alt.png" alt=""></a>-->
<!--						</div>-->
<!--						<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>-->
<!--						<ul class="contact-social">-->
<!--							<li><a href="#" class="social-facebook"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#" class="social-twitter"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#" class="social-google-plus"><i class="fa fa-google-plus"></i></a></li>-->
<!--							<li><a href="#" class="social-instagram"><i class="fa fa-instagram"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-3">-->
<!--					<div class="footer-widget">-->
<!--						<h3 class="footer-title">Categories</h3>-->
<!--						<div class="category-widget">-->
<!--							<ul>-->
<!--								<li><a href="#">Lifestyle <span>451</span></a></li>-->
<!--								<li><a href="#">Fashion <span>230</span></a></li>-->
<!--								<li><a href="#">Technology <span>40</span></a></li>-->
<!--								<li><a href="#">Travel <span>38</span></a></li>-->
<!--								<li><a href="#">Health <span>24</span></a></li>-->
<!--							</ul>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-3">-->
<!--					<div class="footer-widget">-->
<!--						<h3 class="footer-title">Tags</h3>-->
<!--						<div class="tags-widget">-->
<!--							<ul>-->
<!--								<li><a href="#">Social</a></li>-->
<!--								<li><a href="#">Lifestyle</a></li>-->
<!--								<li><a href="#">Blog</a></li>-->
<!--								<li><a href="#">Travel</a></li>-->
<!--								<li><a href="#">Technology</a></li>-->
<!--								<li><a href="#">Fashion</a></li>-->
<!--								<li><a href="#">Life</a></li>-->
<!--								<li><a href="#">News</a></li>-->
<!--								<li><a href="#">Magazine</a></li>-->
<!--								<li><a href="#">Food</a></li>-->
<!--								<li><a href="#">Health</a></li>-->
<!--							</ul>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-3">-->
<!--					<div class="footer-widget">-->
<!--						<h3 class="footer-title">Newsletter</h3>-->
<!--						<div class="newsletter-widget">-->
<!--							<form>-->
<!--								<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>-->
<!--								<input class="input" name="newsletter" placeholder="Enter Your Email">-->
<!--								<button class="primary-button">Subscribe</button>-->
<!--							</form>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
			<!-- /row -->

			<!-- row -->
<!--			<div class="footer-bottom row">-->
<!--				<div class="col-md-6 col-md-push-6">-->
<!--					<ul class="footer-nav">-->
<!--						<li><a href="index.html">Home</a></li>-->
<!--						<li><a href="about.html">About Us</a></li>-->
<!--						<li><a href="contact.html">Contacts</a></li>-->
<!--						<li><a href="#">Advertise</a></li>-->
<!--						<li><a href="#">Privacy</a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="col-md-6 col-md-pull-6">-->
<!--					<div class="footer-copyright">-->
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
			<!-- /row -->
<!--		</div>-->
		<!-- /container -->
<!--	</footer>-->
	<!-- /FOOTER -->
	<% include ../partials/footer%> 

	<!-- jQuery Plugins -->
<!--	<script src="js/jquery.min.js"></script>-->
<!--	<script src="js/bootstrap.min.js"></script>-->
<!--	<script src="js/jquery.stellar.min.js"></script>-->
<!--	<script src="js/main.js"></script>-->

<!--</body>-->

<!--</html>-->
