<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/images/site-wide-resources/bulqup-icon.png">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>A guide on warmups</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/newHome/newHomepageBootstrap.min.css">
	<!--<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />-->

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/css/newHome/font-awesome.min.css">
	
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/newHome/newHomepage.css"/>
	<link type="text/css" rel="stylesheet" href="/css/footer.css" />
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<!-- HEADER -->
	<header id="header" style="background-color: #222;">
		<!-- NAV -->
		<% include ../partials/newHeader%>
		<!-- /NAV -->
		
		<!-- PAGE HEADER -->
		<div id="post-header" class="page-header">
			<div class="page-header-bg" style="background-image: url('/images/articles/a-guide-on-warmups/header.jpg');" data-stellar-background-ratio="0.5"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<div class="post-category">
							<a href="category.html">Workout</a>
						</div>
						<h1>A guide on warmups</h1>
						<ul class="post-meta">
							<li><a href="author.html">Minjun Kim</a></li>
							<li>October 16, 2018</li>
							<!-- Uncomment this with Disqus integration -->
							<!-- <li><i class="fa fa-comments"></i> 3</li>
							<li><i class="fa fa-eye"></i> 807</li> -->
						</ul>
				</div>
			</div>
		</div>
		</div>
		
		<!-- PAGE HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- post share -->
					<div class="section-row">
						<div class="post-share">
							<a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
							<a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
							<a href="#" class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>
							<a href="#" ><i class="fa fa-envelope"></i><span>Email</span></a>
						</div>
					</div>
					<!-- /post share -->

					<!-- post content -->
					<div class="section-row">
                        
                        <p>What comes to your mind when you hear about warmups? I’ll bet that that’d be stretching and some jumping jacks but we’re here to tell you that’s the wrong way to do warm ups. ‘Warm ups are essential’ – you’ve probably heard this before. In today’s article, we’ll cover precisely why warm ups are essential, what warm ups are the best, and what warm ups are the best for PRE and POST workout.</p>
                        
						<h3>Why are warm ups essential?</h3>
						<p>They increases muscle temperature – reduces likelihood of overstretching a muscle. Blood temperature rises – delivery of oxygen is expedited – oxygen is readily available for muscles to utilize. Range of motion increases – Joints are lubricated. Hormonal changes occur – cortisol and epinephrine is released for energy (carb/fat) to be available for use.</p>

						<h5>What warm ups are the best?</h5>
                        <p>First and foremost, use FOAM ROLLER or TENNIS BALL to stretch your muscles. From sitting in a chair for long in a desk job or just simply not having enough movements, your body always requires relaxing and loosening. (FOAM ROLLER/TENNISBALL STRETCH)</p>
                        <p>Secondly, stretch your scapula and ankle through rocking ankle mobilization and scapula wall slides. Those are the two most tight areas of the body which often require more attention to reach full potential ROM (range of motion)</p>
                        <p>Lastly, AVOID STATIC STRETCHING. It’s been proven through numerous research that static stretch reduce strength, power, and explosive performance. Try instead, dynamic stretching.</p>

                        
                        <p>Here is a compound list of dynamic warm-up workouts available.</p>
                        <p>Jump rope, Jumping jacks, body weight squat, lunge, walking lunge with overhead reach, hip extension, hip rotations, forward/side leg swing, push ups, Spiderman steps, rocking ankle mobilization, glute bridge.</p>
                        
                        <p>You can try out different combinations from the list to see which one you enjoy.</p>
                        
                        <figure>
							<img src="/images/articles/a-guide-on-warmups/pushup.jpg" alt="">
						</figure>
						
						
						
						<div class="section-row">
						<h3>Sample warm-ups:</h3>
						<ul>
							<h4>Route A: (15-20 minutes)</h4>
							<figure class="pull-right">
						    	<img src="/images/articles/a-guide-on-warmups/woman-spiderman-steps.jpg" alt="">
						    	<figcaption>Spiderman stretch is a great warmup to increase flixibility</figcaption>
					    	</figure>
							<p>Part 1: Tennis ball/foam roller stretch</p>
							<p>Part 2: Rocking ankle mobilization</p>
							<p>Part 3: 2 minutes of jumping rope – 30 jumping jacks – 20 walking lunge with overhead reach – 20 Spiderman steps.</p>

							<h4>Route B: (15-20 minutes)</h4>
							<p>Part A: Tennis ball/foam roller stretch</p>
							<p>Part B: Scapula wall slides</p>
							<p>Part C: 20 hip rotations, 20 forward/side leg swing, 30 glute bridge, 15 body weight squat.</p>
							
						</ul>
						</div>
						
                        <p>Your routine should depend on the type of target muscle for the day (body weight squat/lunge for glute day, and push up and jumping jacks for chest day and so forth).</p>

                        <h3>Different genres of stretching:</h3>
                        
                        <p>Lastly, know the difference between DYNAMIC STRETCHING and BALLISTIC STRETCHING.</p>
                        <h5>Dynamic Stretching</h5>
                        <p>Dynamic stretching is as the word itself indicates, a type of stretch where movement is incorporated in a fluid motion. Ballistic stretching, while similar, uses more of bounce movement that incorporates pushing the muscle further than the usual threshold of ROM (Range of motion) – Imagine a runner pushing his knees far away from torso, and keep doing it.</p>
                        
                        <h5>Ballistic Stretching</h5>
                        <p>Although ballistic stretching is often performed by martial arts, high level athletes, it poses a risk of pulling a muscle or creating a strain, and is not recommended general health guideline (American Academy of Orthopedic Surgeons recommend against this type of stretching).</p>
                        
                        <p>That is all that you need to know about warm ups and although we could’ve wrote a five page report on warmups that’d be a sure way to get get you quit the article midway and give us crappy comments so this will be the end of this article. Wanna know more? Subscribe to our newsletter, we do write some good stuff there so be posted!</p>
                        
					
					</div>
					<!-- /post content -->

					<!-- post tags -->
					<div class="section-row">
						<div class="post-tags">
							<ul>
								<li>TAGS:</li>
								<li><a href="#">Workout</a></li>
							</ul>
						</div>
					</div>
					<!-- /post tags -->

					<!-- post nav -->
					<div class="section-row">
						<div class="post-nav">
							<div class="prev-post">
								<a class="post-img" href="/articles/how-to-get-the-best-sleep"><img src="/images/newHome/hot-post-2.jpg" alt=""></a>
								<h3 class="post-title"><a href="#">How to get the best sleep?</a></h3>
								<span>Previous post</span>
							</div>

							<div class="next-post">
								<a class="post-img" href="/articles/how-do-muscles-grow"><img src="/images/newHome/hot-post-3.jpg" alt=""></a>
								<h3 class="post-title"><a href="#">How do Muscles grow?</a></h3>
								<span>Next post</span>
							</div>
						</div>
					</div>
					<!-- /post nav  -->

<% include ../partials/authors/minjun%> 

					<!-- /related post -->
					<!--<div>-->
					<!--	<div class="section-title">-->
					<!--		<h3 class="title">Related Posts</h3>-->
					<!--	</div>-->
					<!--	<div class="row">-->
							<!-- post -->
					<!--		<div class="col-md-4">-->
					<!--			<div class="post post-sm">-->
					<!--				<a class="post-img" href="blog-post.html"><img src="./img/post-4.jpg" alt=""></a>-->
					<!--				<div class="post-body">-->
					<!--					<div class="post-category">-->
					<!--						<a href="category.html">Health</a>-->
					<!--					</div>-->
					<!--					<h3 class="post-title title-sm"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><a href="author.html">John Doe</a></li>-->
					<!--						<li>20 April 2018</li>-->
					<!--					</ul>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /post -->

							<!-- post -->
					<!--		<div class="col-md-4">-->
					<!--			<div class="post post-sm">-->
					<!--				<a class="post-img" href="blog-post.html"><img src="./img/post-6.jpg" alt=""></a>-->
					<!--				<div class="post-body">-->
					<!--					<div class="post-category">-->
					<!--						<a href="category.html">Fashion</a>-->
					<!--						<a href="category.html">Lifestyle</a>-->
					<!--					</div>-->
					<!--					<h3 class="post-title title-sm"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><a href="author.html">John Doe</a></li>-->
					<!--						<li>20 April 2018</li>-->
					<!--					</ul>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /post -->

							<!-- post -->
					<!--		<div class="col-md-4">-->
					<!--			<div class="post post-sm">-->
					<!--				<a class="post-img" href="blog-post.html"><img src="./img/post-7.jpg" alt=""></a>-->
					<!--				<div class="post-body">-->
					<!--					<div class="post-category">-->
					<!--						<a href="category.html">Health</a>-->
					<!--						<a href="category.html">Lifestyle</a>-->
					<!--					</div>-->
					<!--					<h3 class="post-title title-sm"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><a href="author.html">John Doe</a></li>-->
					<!--						<li>20 April 2018</li>-->
					<!--					</ul>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /post -->
					<!--	</div>-->
					<!--</div>-->
					<!-- /related post -->

					<!-- post comments -->
					<!--<div class="section-row">-->
					<!--	<div class="section-title">-->
					<!--		<h3 class="title">3 Comments</h3>-->
					<!--	</div>-->
					<!--	<div class="post-comments">-->
							<!-- comment -->
					<!--		<div class="media">-->
					<!--			<div class="media-left">-->
					<!--				<img class="media-object" src="./img/avatar-2.jpg" alt="">-->
					<!--			</div>-->
					<!--			<div class="media-body">-->
					<!--				<div class="media-heading">-->
					<!--					<h4>John Doe</h4>-->
					<!--					<span class="time">5 min ago</span>-->
					<!--				</div>-->
					<!--				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
					<!--				<a href="#" class="reply">Reply</a>-->
									<!-- comment -->
					<!--				<div class="media media-author">-->
					<!--					<div class="media-left">-->
					<!--						<img class="media-object" src="./img/avatar-1.jpg" alt="">-->
					<!--					</div>-->
					<!--					<div class="media-body">-->
					<!--						<div class="media-heading">-->
					<!--							<h4>John Doe</h4>-->
					<!--							<span class="time">5 min ago</span>-->
					<!--						</div>-->
					<!--						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
					<!--						<a href="#" class="reply">Reply</a>-->
					<!--					</div>-->
					<!--				</div>-->
									<!-- /comment -->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /comment -->

							<!-- comment -->
					<!--		<div class="media">-->
					<!--			<div class="media-left">-->
					<!--				<img class="media-object" src="./img/avatar-3.jpg" alt="">-->
					<!--			</div>-->
					<!--			<div class="media-body">-->
					<!--				<div class="media-heading">-->
					<!--					<h4>John Doe</h4>-->
					<!--					<span class="time">5 min ago</span>-->
					<!--				</div>-->
					<!--				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
					<!--				<a href="#" class="reply">Reply</a>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /comment -->
					<!--	</div>-->
					<!--</div>-->
					<!-- /post comments -->

				
				</div>
				
				<% include ../partials/sidebar%> 
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	
	
	
	
	
	
	<!-- /SECTION -->
	<div class="container">
		<div id="disqus_thread"></div>
	</div>
	<script>

	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	
	var disqus_config = function () {
	this.page.url = 'https://bulqup-web-ss4328.c9users.io/articles/a-guide-on-warmups';  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = 'test/how-much-protein-should-you-munch'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://bulqup.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	
	<% include ../partials/footer%> 

	<!-- jQuery Plugins -->
<!--	<script src="js/jquery.min.js"></script>-->
<!--	<script src="js/bootstrap.min.js"></script>-->
<!--	<script src="js/jquery.stellar.min.js"></script>-->
<!--	<script src="js/main.js"></script>-->

<!--</body>-->

<!--</html>-->
