<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/images/site-wide-resources/bulqup-icon.png">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>5x5 Workout</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/newHome/newHomepageBootstrap.min.css">
	<!--<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />-->

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/css/newHome/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/newHome/newHomepage.css"/>
	<link type="text/css" rel="stylesheet" href="/css/footer.css" />
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
	    body {
            font-family: 'Roboto', sans-serif;
        }
	</style>

</head>

<body>
	<!-- HEADER -->
	<header id="header" style="background-color: #222;">
		<!-- NAV -->
		<% include ../partials/newHeader%>
		<!-- /NAV -->
		
		<!-- PAGE HEADER -->
		<div id="post-header" class="page-header">
			<div class="page-header-bg" style="background-image: url('/images/articles/how-to-get-the-best-sleep/header-1.jpg');" data-stellar-background-ratio="0.5"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<div class="post-category">
							<a href="category.html">Lifestyle</a>
						</div>
						<h1>How to get the best night sleep</h1>
						<ul class="post-meta">
							<li><a href="author.html">Minjun Kim</a></li>
							<li>September 17, 2018</li>
							<!-- Uncomment this with Disqus integration -->
							<!-- <li><i class="fa fa-comments"></i> 3</li>
							<li><i class="fa fa-eye"></i> 807</li> -->
						</ul>
				</div>
			</div>
		</div>
		</div>
		
		<!-- /PAGE HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- post share -->
					<div class="section-row">
						<div class="post-share">
							<a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
							<a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
							<a href="#" class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>
							<a href="#" ><i class="fa fa-envelope"></i><span>Email</span></a>
						</div>
					</div>
					<!-- /post share -->

					<!-- post content -->
					<div class="section-row">
						<h3>The dynamics of a good night sleep</h3>
						<p>I was just laying on the bed trying to catch up on a good tv show, Jack Ryan. Then, a newsfeed popped up from a website (News Picks) with the article title How to time your exercise to Maximize Sleep. As I have always revered the non-sleep ultra human beings like Obama, Trump (only in sense of sleeping 4-5 hours a day), and Elon Musk, I decided to read into the article.</p>
						<p>This is what the research shows:</p>
						<figure class="pull-right">
							<img src="/images/articles/how-to-get-the-best-sleep/media-1.jpg" alt="">
							<figcaption>Good sleep is crucial to mass gain</figcaption>
						</figure>
						<p>If you have a workout in the afternoon, this is what happens to your melatonin level. Your body release less melatonin from 8pm to 3am. Thus, it is harder to get a deeper sleep at night. So should we workout earlier in the morning?</p>
						<p>However, the author Alex Hutchinson suggests that melatonin is not THE only factor. If you workout later during the day, the body temperature rises thus preventing good quality of sleep at night.</p>
						<p>There is also a psychological factor: if you can release all the stress gathered from your routines throughout the day through workout, then this gets ride of the stress levels which can lead to a deeper level of sleep.</p>
						<figure>
							<img src="/images/articles/how-to-get-the-best-sleep/media-2.jpg" alt="">
						</figure>
						<p>If you are an avid smartphone user like myself, try to turn down the brightness of the phone, or better, use blue light filters to reduce the level of blue light (blue light suppresses the amount of melatonin produced). There are lots of apps like f.lux, Redshift, and SunSet Screen just to name a few (we are not affiliated with these app companies in any way – just try to find something that works, and are free to use).</p>
						<p>New research suggests that people who have higher concentration of Vitamin D experience better quality sleep than those without it. Half of US population experiences Vitamin D deficiency, so spend more time outside or try to run outside of the gym to expose your body for better sleep.</p>
						<blockquote class="blockquote">
							<p>Sleep is God. Go Worship</p>
							<footer class="blockquote-footer">Jim Butcher</footer>
						</blockquote>
						<p>If you can’t, that is okay because another research did a study on sleep effectiveness and light, and patients who were exposed to bright light during the day had easier time sleeping than others. So, keep your lights BRIGHT during the day even if it is artificial. Lastly, do not take nap longer than 30 minutes before 5 o’clock as that will mess with the circadian rhythm.</p>
						<p>So, here is the gathered information in summary. To get the best sleep, you should:</p>
						<ol>
							<li>Workout early in the morning</li>
							<li>Use blue light filters for smartphones (put them on night mode)</li>
							<li>Spend more time outside</li>
							<li>Use bright light during the day</li>
							<li>Use natural light to wake yourself up</li>
							<li>Take nap before 5 o’clock, less than 30 minutes preferably.</li>
						</ol>
						
					</div>
					<!-- /post content -->

					<!-- post tags -->
					<div class="section-row">
						<div class="post-tags">
							<ul>
								<li>TAGS:</li>
								<li><a href="#">Workout</a></li>
							</ul>
						</div>
					</div>
					<!-- /post tags -->

					<!-- post nav -->
					<div class="section-row">
						<div class="post-nav">
							<div class="prev-post">
								<a class="post-img" href="/articles/how-to-get-the-best-sleep"><img src="/images/newHome/hot-post-2.jpg" alt=""></a>
								<h3 class="post-title"><a href="#">How to get the best sleep?</a></h3>
								<span>Previous post</span>
							</div>

							<div class="next-post">
								<a class="post-img" href="/articles/how-do-muscles-grow"><img src="/images/newHome/hot-post-3.jpg" alt=""></a>
								<h3 class="post-title"><a href="#">How do Muscles grow?</a></h3>
								<span>Next post</span>
							</div>
						</div>
					</div>
					<!-- /post nav  -->

<% include ../partials/authors/minjun%> 

					<!-- /related post -->
					<!--<div>-->
					<!--	<div class="section-title">-->
					<!--		<h3 class="title">Related Posts</h3>-->
					<!--	</div>-->
					<!--	<div class="row">-->
							<!-- post -->
					<!--		<div class="col-md-4">-->
					<!--			<div class="post post-sm">-->
					<!--				<a class="post-img" href="blog-post.html"><img src="./img/post-4.jpg" alt=""></a>-->
					<!--				<div class="post-body">-->
					<!--					<div class="post-category">-->
					<!--						<a href="category.html">Health</a>-->
					<!--					</div>-->
					<!--					<h3 class="post-title title-sm"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><a href="author.html">John Doe</a></li>-->
					<!--						<li>20 April 2018</li>-->
					<!--					</ul>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /post -->

							<!-- post -->
					<!--		<div class="col-md-4">-->
					<!--			<div class="post post-sm">-->
					<!--				<a class="post-img" href="blog-post.html"><img src="./img/post-6.jpg" alt=""></a>-->
					<!--				<div class="post-body">-->
					<!--					<div class="post-category">-->
					<!--						<a href="category.html">Fashion</a>-->
					<!--						<a href="category.html">Lifestyle</a>-->
					<!--					</div>-->
					<!--					<h3 class="post-title title-sm"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><a href="author.html">John Doe</a></li>-->
					<!--						<li>20 April 2018</li>-->
					<!--					</ul>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /post -->

							<!-- post -->
					<!--		<div class="col-md-4">-->
					<!--			<div class="post post-sm">-->
					<!--				<a class="post-img" href="blog-post.html"><img src="./img/post-7.jpg" alt=""></a>-->
					<!--				<div class="post-body">-->
					<!--					<div class="post-category">-->
					<!--						<a href="category.html">Health</a>-->
					<!--						<a href="category.html">Lifestyle</a>-->
					<!--					</div>-->
					<!--					<h3 class="post-title title-sm"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><a href="author.html">John Doe</a></li>-->
					<!--						<li>20 April 2018</li>-->
					<!--					</ul>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /post -->
					<!--	</div>-->
					<!--</div>-->
					<!-- /related post -->

					<!-- post comments -->
					<!--<div class="section-row">-->
					<!--	<div class="section-title">-->
					<!--		<h3 class="title">3 Comments</h3>-->
					<!--	</div>-->
					<!--	<div class="post-comments">-->
							<!-- comment -->
					<!--		<div class="media">-->
					<!--			<div class="media-left">-->
					<!--				<img class="media-object" src="./img/avatar-2.jpg" alt="">-->
					<!--			</div>-->
					<!--			<div class="media-body">-->
					<!--				<div class="media-heading">-->
					<!--					<h4>John Doe</h4>-->
					<!--					<span class="time">5 min ago</span>-->
					<!--				</div>-->
					<!--				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
					<!--				<a href="#" class="reply">Reply</a>-->
									<!-- comment -->
					<!--				<div class="media media-author">-->
					<!--					<div class="media-left">-->
					<!--						<img class="media-object" src="./img/avatar-1.jpg" alt="">-->
					<!--					</div>-->
					<!--					<div class="media-body">-->
					<!--						<div class="media-heading">-->
					<!--							<h4>John Doe</h4>-->
					<!--							<span class="time">5 min ago</span>-->
					<!--						</div>-->
					<!--						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
					<!--						<a href="#" class="reply">Reply</a>-->
					<!--					</div>-->
					<!--				</div>-->
									<!-- /comment -->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /comment -->

							<!-- comment -->
					<!--		<div class="media">-->
					<!--			<div class="media-left">-->
					<!--				<img class="media-object" src="./img/avatar-3.jpg" alt="">-->
					<!--			</div>-->
					<!--			<div class="media-body">-->
					<!--				<div class="media-heading">-->
					<!--					<h4>John Doe</h4>-->
					<!--					<span class="time">5 min ago</span>-->
					<!--				</div>-->
					<!--				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
					<!--				<a href="#" class="reply">Reply</a>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /comment -->
					<!--	</div>-->
					<!--</div>-->
					<!-- /post comments -->

				
				</div>
				
				<% include ../partials/sidebar%> 
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	<div class="container">
		<div id="disqus_thread"></div>
	</div>
	<script>

	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	
	var disqus_config = function () {
	this.page.url = 'https://bulqup-web-ss4328.c9users.io/articles/how-to-get-the-best-sleep';  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = 'test/how-to-get-the-best-sleep'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://bulqup.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	<!-- FOOTER -->
<!--	<footer id="footer">-->
		<!-- container -->
<!--		<div class="container">-->
			<!-- row -->
<!--			<div class="row">-->
<!--				<div class="col-md-3">-->
<!--					<div class="footer-widget">-->
<!--						<div class="footer-logo">-->
<!--							<a href="index.html" class="logo"><img src="./img/logo-alt.png" alt=""></a>-->
<!--						</div>-->
<!--						<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>-->
<!--						<ul class="contact-social">-->
<!--							<li><a href="#" class="social-facebook"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#" class="social-twitter"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#" class="social-google-plus"><i class="fa fa-google-plus"></i></a></li>-->
<!--							<li><a href="#" class="social-instagram"><i class="fa fa-instagram"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-3">-->
<!--					<div class="footer-widget">-->
<!--						<h3 class="footer-title">Categories</h3>-->
<!--						<div class="category-widget">-->
<!--							<ul>-->
<!--								<li><a href="#">Lifestyle <span>451</span></a></li>-->
<!--								<li><a href="#">Fashion <span>230</span></a></li>-->
<!--								<li><a href="#">Technology <span>40</span></a></li>-->
<!--								<li><a href="#">Travel <span>38</span></a></li>-->
<!--								<li><a href="#">Health <span>24</span></a></li>-->
<!--							</ul>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-3">-->
<!--					<div class="footer-widget">-->
<!--						<h3 class="footer-title">Tags</h3>-->
<!--						<div class="tags-widget">-->
<!--							<ul>-->
<!--								<li><a href="#">Social</a></li>-->
<!--								<li><a href="#">Lifestyle</a></li>-->
<!--								<li><a href="#">Blog</a></li>-->
<!--								<li><a href="#">Travel</a></li>-->
<!--								<li><a href="#">Technology</a></li>-->
<!--								<li><a href="#">Fashion</a></li>-->
<!--								<li><a href="#">Life</a></li>-->
<!--								<li><a href="#">News</a></li>-->
<!--								<li><a href="#">Magazine</a></li>-->
<!--								<li><a href="#">Food</a></li>-->
<!--								<li><a href="#">Health</a></li>-->
<!--							</ul>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-3">-->
<!--					<div class="footer-widget">-->
<!--						<h3 class="footer-title">Newsletter</h3>-->
<!--						<div class="newsletter-widget">-->
<!--							<form>-->
<!--								<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>-->
<!--								<input class="input" name="newsletter" placeholder="Enter Your Email">-->
<!--								<button class="primary-button">Subscribe</button>-->
<!--							</form>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
			<!-- /row -->

			<!-- row -->
<!--			<div class="footer-bottom row">-->
<!--				<div class="col-md-6 col-md-push-6">-->
<!--					<ul class="footer-nav">-->
<!--						<li><a href="index.html">Home</a></li>-->
<!--						<li><a href="about.html">About Us</a></li>-->
<!--						<li><a href="contact.html">Contacts</a></li>-->
<!--						<li><a href="#">Advertise</a></li>-->
<!--						<li><a href="#">Privacy</a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="col-md-6 col-md-pull-6">-->
<!--					<div class="footer-copyright">-->
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
			<!-- /row -->
<!--		</div>-->
		<!-- /container -->
<!--	</footer>-->
	<!-- /FOOTER -->
	<% include ../partials/footer%> 


<!--</body>-->

<!--</html>-->
