<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/images/site-wide-resources/bulqup-icon.png">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>5x5 Workout</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/newHome/newHomepageBootstrap.min.css">
	<!--<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />-->

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/css/newHome/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/newHome/newHomepage.css"/>
	<link type="text/css" rel="stylesheet" href="/css/footer.css" />
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
	    body {
            font-family: 'Roboto', sans-serif;
        }
	</style>

</head>

<body>
	<!-- HEADER -->
	<header id="header" style="background-color: #222;">
		<!-- NAV -->
		<% include ../partials/newHeader%>
		<!-- /NAV -->
		
		<!-- PAGE HEADER -->
		<div id="post-header" class="page-header">
			<div class="page-header-bg" style="background-image: url('/images/articles/how-much-protein-should-you-munch/header.jpg');" data-stellar-background-ratio="0.5"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<div class="post-category">
							<a href="category.html">Nutrition</a>
						</div>
						<h1>How much protein should you munch?</h1>
						<ul class="post-meta">
							<li><a href="author.html">Minjun Kim</a></li>
							<li>October 16, 2018</li>
							<!-- Uncomment this with Disqus integration -->
							<!-- <li><i class="fa fa-comments"></i> 3</li>
							<li><i class="fa fa-eye"></i> 807</li> -->
						</ul>
				</div>
			</div>
		</div>
		</div>
		
		<!-- PAGE HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- post share -->
					<div class="section-row">
						<div class="post-share">
							<a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
							<a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
							<a href="#" class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>
							<a href="#" ><i class="fa fa-envelope"></i><span>Email</span></a>
						</div>
					</div>
					<!-- /post share -->

					<!-- post content -->
					<div class="section-row">
					    <p>We all heard this before. You need protein to build muscle. You need more food intake to build, nutrition plan outweighs in the muscle building process far more importantly than your workout regime. Not to mention, celebrities like the rock eating 12 pancakes and insane amount of pizza floats around the Instagram posts. No one really knows, and we all seem to be content with taking a scoop of protein from powder based products, with creatine with some high level athletes. How much protein do we really need? Let’s break it down.</p>
						
						<h3>Recommended Amount of Protein:</h3>
						<h5>According to Academy of nutrition and Dietetics, and American College of Sports Medicine:</h5>
						<p>For Desk-Bound men, and women: 0.8g per k of body mass. That translates into 56g for average male and 46g for average female.</p>
						<p>For athletes: 1.2g to 2.0 per kg.</p>
						
						<h3>Calculate how much protein you need:</h3>
						<div style="padding-bottom: 20px" class="form-row row">
                            <div class="form-group col-md-5">
                              <label for="inputCity">Weight</label>
                              <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-5">
                              <label for="inputState">Unit</label>
                              <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>Kg</option>
                                <option>Lb</option>
                              </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label style="color: white"for="goButton">.</label>
                                <button id="goButton" type="submit" class="btn btn-primary form-control">Go</button>
                            </div>
                         </div>
                         
      <!--                   <blockquote class="blockquote">-->
						<!--	<p>5x5 is designed so that it works out all the major muscle sets in your body. Combined with a healthy nutrition regime, it'll yield maximum results in the shortest time. Just focus on mazimizing your RM and that's it!</p>-->
						<!--	<footer class="blockquote-footer">Minjun Kim</footer>-->
						<!--</blockquote>-->
						
						<figure class="pull-right">
							<img src="/images/articles/how-much-protein-should-you-munch/media-1.jpg" alt="">
							<figcaption>Sedentary job requires much less protein consumption than movement-intensive work</figcaption>
						</figure>
						
						<h3>Special cases:</h3>
						
							<p>If you’re not a sedentary man/woman, (meaning you spent a good chunk of your time outdoors or have get good physical work as part of your job: for example you’re a mechanic or construction worker) your protein needs differ from the ones described above.</p>
							<p>Also depending on your metabolic rate, your protein absorption might differ from the norm. If you’re having trouble gaining mass for a extended period of time (say 2+ months) you might need protein supplement that increases the absorption by your body.</p>
							<p>There’s always rumors floating around that protein powders are bad for your body and all but unless those are backed by actual scientific studies, won’t you consider it hogwash?</p>
							
						<h3>Protein consumption for vegans:</h3>
						<p>Now I know this is a somewhat controversial topic that ‘vegans diet lacks protein’ but if you analyze the situation logically its sorta B.S. What we do agree with is that it’s somewhat HARDER to get protein in a vegan diet because a vegan gotta eat a crapton of fiber along the way to consume the same amount of protein as a ‘non-vegan’. You can easily incorporate addition of 30-40 grams of protein a day, just by changing your lifestyle (E.G. just put a big bowl of almonds right on your tv table).</p>
						<p>Alright, we might be oversimplifying things here but really, do you even know how much of protein is in vegan supplements?</p>
						
						<figure>
							<img src="/images/articles/how-much-protein-should-you-munch/veganSources.jpg" alt="">
						</figure>
						
						
						<h2>So how to get this protein?</h2>
						<p>Well the best answer for this is to just follow the conventional wisdom i.e. “get protein from multiple sources”. You weigh 70KG? Your breakdown should look something like:</p>
						<ul>
							<li>Protein smoothies/bars/shakes: 27 g</li>
							<li>Meat: 10g</li>
							<li>Eggs/legumes: 9g</li>
							<li>Others: 9g</li>
						</ul>
						<p>If you’re vegan, you can substitute the meat/eggs here with tofu/soya chunks. Get more legumes in your diet and you should be set!</p>
	
						<h3>Bonus:</h3>
						<p>And this should be sufficient for a normal desk bound male. You can of course double down on your efforts by:</p>
						<ol>
							<li> Eat 3 eggs in the morning (boiled/omelette/raw): +18g ⇒ +33% boost</li>
							<li> Consume a extra protein smoothie: +25g ⇒ +44.6% boost</li>
							<li> Add a extra meal of protein rich nuts somewhere in your schedule: +8g ⇒ +13% boost</li>
						</ol>
						<p>Of course you can go freaky on your diet and integrate all three but I think about the sustainability would be an issue in that. There’s also a limited amount of protein your body can absorb each hour and there are health concerns for your body if you prolong your heavy protein intake. (Bad breath, constipation, chances of dehydration, chances for kidney damage and heart diseases can happen)</p>
						

						<figure>
							<img src="/images/articles/how-much-protein-should-you-munch/proteinCategories.jpg" alt="">
						</figure>
						
						<h3>Food by amount of protein content</h3>
						<p>Protein content by Meat, Seafood, Legumes/Grains/Vegetables, Nuts/Seeds, Dairy Products were found to be as follows:</p>
						<ul>
							<li>Meat/Poultry: Chicken/steak/turkey/lamb - 22-28g for 3 oz. (A cell phone size or deck of card size of chicken)</li>
							<li>Seafood: Salmon/Tuna/Shrimp/Lobster – 16-22g for 3 oz.(One can of Tuna)</li>
							<li>Legumes: 6-11g per half a serving size</li>
							<li>Nuts and Seeds: 6-12g per 1 oz</li>
							<li>Dairy products: 8-18g depending on what you consume (Greek yogurt has 18g of protein per serving size)</li>
						</ul>
						
						<h3>Calculation:</h3>
						<p>To calculate your recommended protein intake: Multiply x number of your weight in lbs by 0.453, and multiply that number by the category you fall into above</p>
						<p>I weigh about 80kg, and workout everyday with a bit of cardio. Thus, 80kg x 2.0g = 160g.</p>
						<p>Usually, my meal consists of a meat/chicken based lunch/dinner (50-70g of protein) + protein shake (80g) in the morning and after workout with snacks in between.</p>
						
						<p>Lastly, research has indicated that taking more than 2.0g of protein does not enhance muscle building process or amount of weight lifted by lifters. So, take NECESSARY amount of protein suited for you, and let’s gain some muscle. </p>
						
						
					
					</div>
					<!-- /post content -->

					<!-- post tags -->
					<div class="section-row">
						<div class="post-tags">
							<ul>
								<li>TAGS:</li>
								<li><a href="#">Workout</a></li>
							</ul>
						</div>
					</div>
					<!-- /post tags -->

					<!-- post nav -->
					<div class="section-row">
						<div class="post-nav">
							<div class="prev-post">
								<a class="post-img" href="/articles/how-to-get-the-best-sleep"><img src="/images/newHome/hot-post-2.jpg" alt=""></a>
								<h3 class="post-title"><a href="#">How to get the best sleep?</a></h3>
								<span>Previous post</span>
							</div>

							<div class="next-post">
								<a class="post-img" href="/articles/how-do-muscles-grow"><img src="/images/newHome/hot-post-3.jpg" alt=""></a>
								<h3 class="post-title"><a href="#">How do Muscles grow?</a></h3>
								<span>Next post</span>
							</div>
						</div>
					</div>
					<!-- /post nav  -->

<% include ../partials/authors/minjun%> 

					<!-- /related post -->
					<!--<div>-->
					<!--	<div class="section-title">-->
					<!--		<h3 class="title">Related Posts</h3>-->
					<!--	</div>-->
					<!--	<div class="row">-->
							<!-- post -->
					<!--		<div class="col-md-4">-->
					<!--			<div class="post post-sm">-->
					<!--				<a class="post-img" href="blog-post.html"><img src="./img/post-4.jpg" alt=""></a>-->
					<!--				<div class="post-body">-->
					<!--					<div class="post-category">-->
					<!--						<a href="category.html">Health</a>-->
					<!--					</div>-->
					<!--					<h3 class="post-title title-sm"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><a href="author.html">John Doe</a></li>-->
					<!--						<li>20 April 2018</li>-->
					<!--					</ul>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /post -->

							<!-- post -->
					<!--		<div class="col-md-4">-->
					<!--			<div class="post post-sm">-->
					<!--				<a class="post-img" href="blog-post.html"><img src="./img/post-6.jpg" alt=""></a>-->
					<!--				<div class="post-body">-->
					<!--					<div class="post-category">-->
					<!--						<a href="category.html">Fashion</a>-->
					<!--						<a href="category.html">Lifestyle</a>-->
					<!--					</div>-->
					<!--					<h3 class="post-title title-sm"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><a href="author.html">John Doe</a></li>-->
					<!--						<li>20 April 2018</li>-->
					<!--					</ul>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /post -->

							<!-- post -->
					<!--		<div class="col-md-4">-->
					<!--			<div class="post post-sm">-->
					<!--				<a class="post-img" href="blog-post.html"><img src="./img/post-7.jpg" alt=""></a>-->
					<!--				<div class="post-body">-->
					<!--					<div class="post-category">-->
					<!--						<a href="category.html">Health</a>-->
					<!--						<a href="category.html">Lifestyle</a>-->
					<!--					</div>-->
					<!--					<h3 class="post-title title-sm"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><a href="author.html">John Doe</a></li>-->
					<!--						<li>20 April 2018</li>-->
					<!--					</ul>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /post -->
					<!--	</div>-->
					<!--</div>-->
					<!-- /related post -->

					<!-- post comments -->
					<!--<div class="section-row">-->
					<!--	<div class="section-title">-->
					<!--		<h3 class="title">3 Comments</h3>-->
					<!--	</div>-->
					<!--	<div class="post-comments">-->
							<!-- comment -->
					<!--		<div class="media">-->
					<!--			<div class="media-left">-->
					<!--				<img class="media-object" src="./img/avatar-2.jpg" alt="">-->
					<!--			</div>-->
					<!--			<div class="media-body">-->
					<!--				<div class="media-heading">-->
					<!--					<h4>John Doe</h4>-->
					<!--					<span class="time">5 min ago</span>-->
					<!--				</div>-->
					<!--				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
					<!--				<a href="#" class="reply">Reply</a>-->
									<!-- comment -->
					<!--				<div class="media media-author">-->
					<!--					<div class="media-left">-->
					<!--						<img class="media-object" src="./img/avatar-1.jpg" alt="">-->
					<!--					</div>-->
					<!--					<div class="media-body">-->
					<!--						<div class="media-heading">-->
					<!--							<h4>John Doe</h4>-->
					<!--							<span class="time">5 min ago</span>-->
					<!--						</div>-->
					<!--						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
					<!--						<a href="#" class="reply">Reply</a>-->
					<!--					</div>-->
					<!--				</div>-->
									<!-- /comment -->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /comment -->

							<!-- comment -->
					<!--		<div class="media">-->
					<!--			<div class="media-left">-->
					<!--				<img class="media-object" src="./img/avatar-3.jpg" alt="">-->
					<!--			</div>-->
					<!--			<div class="media-body">-->
					<!--				<div class="media-heading">-->
					<!--					<h4>John Doe</h4>-->
					<!--					<span class="time">5 min ago</span>-->
					<!--				</div>-->
					<!--				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
					<!--				<a href="#" class="reply">Reply</a>-->
					<!--			</div>-->
					<!--		</div>-->
							<!-- /comment -->
					<!--	</div>-->
					<!--</div>-->
					<!-- /post comments -->

				
				</div>
				
				<% include ../partials/sidebar%> 
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	
	
	
	
	
	
	<!-- /SECTION -->
	<div class="container">
		<div id="disqus_thread"></div>
	</div>
	<script>

	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	
	var disqus_config = function () {
	this.page.url = 'https://bulqup-web-ss4328.c9users.io/articles/how-much-protein-should-you-munch';  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = 'test/how-much-protein-should-you-munch'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://bulqup.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	
	<% include ../partials/footer%> 

	<!-- jQuery Plugins -->
<!--	<script src="js/jquery.min.js"></script>-->
<!--	<script src="js/bootstrap.min.js"></script>-->
<!--	<script src="js/jquery.stellar.min.js"></script>-->
<!--	<script src="js/main.js"></script>-->

<!--</body>-->

<!--</html>-->
