<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/images/site-wide-resources/bulqup-icon.png">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>The Ultimate Guide to Gain Mass</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/newHome/newHomepageBootstrap.min.css">
	<!--<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />-->

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/css/newHome/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/newHome/newHomepage.css"/>
	<link type="text/css" rel="stylesheet" href="/css/footer.css" />
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
	    body {
            font-family: 'Roboto', sans-serif;
        }
	</style>

</head>

<body>
	<!-- HEADER -->
	<header id="header" style="background-color: #222;">
		<!-- NAV -->
		<% include ../partials/newHeader%>
		<!-- /NAV -->
		
		<!-- PAGE HEADER -->
		<div id="post-header" class="page-header">
			<div class="page-header-bg" style="background-image: url('/images/articles/ultimate-guide-to-gain-mass/header-3.jpeg');" data-stellar-background-ratio="0.5"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<div class="post-category">
							<a href="category.html">Workout</a>
						</div>
						<h1>The Ultimate Guide to Gain Mass</h1>
						<ul class="post-meta">
							<li><a href="author.ejs">Shiv Suhane</a></li>
							<li>February 11, 2019</li>
							<!-- Uncomment this with Disqus integration -->
							<!-- <li><i class="fa fa-comments"></i> 3</li>
							<li><i class="fa fa-eye"></i> 807</li> -->
						</ul>
				</div>
			</div>
		</div>
		</div>
		
		<!-- /PAGE HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- post share -->
					<div class="section-row">
						<div class="post-share">
							<a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
							<a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
							<a href="#" class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>
							<a href="#" ><i class="fa fa-envelope"></i><span>Email</span></a>
						</div>
					</div>
					<!-- /post share -->

					<!-- post content -->
					<div class="section-row">
						<h3>How to bulk up?</h3>
						<p>Any newbie introduced to gymming is confused about the best way to gain mass. If you’re a newb, You’ll find tons of articles on the internet about ‘getting started’ but the chances are, there’ll be only a handful of those that actually focuses on gaining actual muscle. Usually, the articles will be pretty generic in the sense that they’ll try to cover as much ground as possible, encompassing several paradigms of working out, covering anything from cardio and stretching to weightlifting. While these articles are good for anyone who’s trying to get fit, they’re not the best resources to refer if you’re explicitly focused on gaining mass. In this part, we’ll cover the dynamics of gaining mass and how the science works.</p>
<br>
						<figure class="pull-right">
							<img src="/images/articles/ultimate-guide-to-gain-mass/overall-pie-chart.png" style="width: 350px"alt="">
							<figcaption>Nutrition is the most important part of gaining mass</figcaption>
						</figure>
						
						<h3>First things first</h3>
						<ul>
						    <li>You need to understand that having the optimal diet is the single most important factor in gaining muscle mass. If you eat garbage, your results will reflect that. If you eat right, your results will be consistent and far more superior than if you miss several diets a week</li>
						    <li>Consistency is the key. You slack off, you lose your gains. Muscle gain takes weeks, even months to see noticeable difference. In the first year, a healthy gain will be somewhat between 15-25 pounds (7-13 KG). It’ll be several weeks before you see the difference so buckle up.</li>
						    <li>Compound exercises are always better for bulking than isolated exercises. Compounds work more muscle sets than isolated and also have a lower chances of injury</li>
						    <li>Mass gainers usually suck and might end up converting your body shape to a weird looking potato. The golden rule is: don’t eat what you don’t understand.
						    <li>Think about it: would you put some sketchy oil mix in your car fuel tank if you have no clue what it does?</li></li>
						</ul>
						
<br>
                        
						<h3>Nutrition:</h3>
						<p>Look the the first point in the above section. What does it say? The dynamics is simple: if you don’t eat right, you won’t gain a single gram. For bulking up, the breakdown for a perfect diet is:</p>
						<ul>
						    <li>A balanced diet first of all. There are tons of articles on the internet about ‘a balanced diet’. Pick your favorite and move on</li>
						    <li>Add some extra protein to your balanced diet to recover from the workouts and add mass. Read <a class="pageAnchor" href="/articles/how-much-protein-should-you-munch">this </a>article to see how much protein you need</li>
						    <li>Extra carbs to have a good workout and be energetic throughout the day. People usually avoid too much carbs in the fear of getting fat but that’s the wrong approach. If you don’t take enough carbs, you risk getting exhausted and being inconsistent. Your day-to-day activities will suffer in absence of healthy carb consumption</li>
						    <li>Consider consuming creatine. It’s the most researched supplement and is proved to enhance performance in gym, preventing neurological diseases, and improves muscle growth</li>
						</ul>
<br>						
							<img src="/images/articles/ultimate-guide-to-gain-mass/balanced-diet.jpg" style="width: 450px"alt="">
							<figcaption>An example of balanced diet</figcaption>
						
<br>
						
						<h3>Workouts:</h3>
						<p>Working out consistently goes without saying. When you work out, you put strain on your muscles and that tears down and overwork your cells. In response, the body generates more cells in the affected region so that the wear & tear can be prevented in the future. I don’t want to digress too much from the main article so feel free to read <a class="pageAnchor" href="/articles/how-do-muscles-grow">this</a> article if you want to read more. It's a worthwhile read and I assure you it's worth your time. This is the core of working out and can help explain the points being discussed below:</p>
						<ul>
						    <li>Workout every muscle set at least twice per week. Going any less than this means sacrificing previous gains.</li>
						    <li>The intensity of your workout is inversely proportional to the number of times you hit the gym. Meaning that if you visit the gym twice a week, your workouts should be much more intense compared to a person who visits the gym five time/week.</li>
						    <li>Warming up and cooling down are as essential as working out. Without <a class="pageAnchor" href="/articles/a-guide-on-warmups">proper warm ups,</a> you risk injury and inefficient workouts. Without cooling down, you risk muscle cramps.</li>
						    <li>Getting a good night sleep is crucial to gaining mass: it's the time you sleep when your body actually heal the muscles and gain mass</li>
						    <li>Don’t do cardio more than once a week if you really want to bulk up. Said that, everybody is different and if you feel that you really need to trim your fat pouches, do cardio but consume enough protein so that you don’t wither your muscle gains away.</li>
						    <li>Sustainability is the key, if your workout isn’t sustainable, you risk burning out which in-turn results in wasting valuable progress</li>
						    <li>Compound workouts are always better than Isolates. When you do a compound exercise, you employ several muscle sets simultaneously. Also, compound exercises maintain body symmetry and won’t make one muscle set grow out of proportion</li>
						</ul>
						<p>Refer to <a class="pageAnchor" href="/articles/5x5">this</a> article to get the most effective compound workout. Alternate between the two routes in the 5x5 plan and work out 3-5 times per week.</p>
<br>						
                        						<blockquote class="blockquote">
							<p>Above all, have patience. You’re entering a marathon not a sprint and maintaining the momentum is of the utmost importance.</p>
							<footer class="blockquote-footer">Workout quote</footer>
						</blockquote>
<br>
						<h3>Lifestyle</h3>
						<p>Well, when you get into gymming, you have to adhere to certain lifestyle changes: deal with it. We’re nothing but humans beings with poor self control and it's totally understandable to have a yummy cheat meal once in a while. Said that, you can’t be a total couch potato, eat junk food all over, sleaze off on 24/7 and expect to get the physique of a greek god. Lifestyle changes are crucial if you want to become your best self</p>
						<ul>
						    <li>Go easy on the high fat food items. Potato chips, ice creams, and beer will derail your progress by days if you’re not careful. Frequent or heavy consumption of carbs, fat or sodium might make your body bloated and make you gain unhealthy weight which you’ll have to trim off later in high-intensity cardio sessions</li>
						    <li>Also, I can’t stress this enough: Have a good night sleep. Your body is actually built and repaired when you’re sleeping and having a deep REM sleep is crucial. Read <a class="pageAnchor" href="/articles/how-to-get-the-best-sleep">this</a> article to find out more.</li>
						    <li>Walking is a healthy habit but I won’t recommend walking 20,000 steps a day without getting some extra carbs. Design your lifestyle accordingly</li>
						    <li>Log your weight and design your schedule so you have ample time to work out without affecting your schedule. Look into scheduler apps like apple/google calendar so you get timely reminders when it’s time to work out</li>
						    <li>Always shower after you workout. Otherwise, you risk skin infection and smelling like a sewer tank for the rest of the day</li>
						    <li>Get a Gym buddy if you feel you need that extra motivation in your down days</li>
						</ul>
<br>
						<p>In next article, we will dive into the realm of what is the most effective ways of gaining muscle through literary review of current articles.</p>
						<p>Till then, Sayonara!</p>
						
						<h3>External links and references:</h3>
						<p>If you're interested in learning more, follow along this excellent article to read more:</p>
						<a href="https://www.unm.edu/~lkravitz/Article%20folder/musclesgrowLK.html">Young Sub Kwon, and Len Kravitz. “How Do Muscles Grow?” Exercise and Resting BP, www.unm.edu/~lkravitz/Article%20folder/musclesgrowLK.html.</a>
						
						
					</div>
					<!-- /post content -->

					<!-- post tags -->
					<div class="section-row">
						<div class="post-tags">
							<ul>
								<li>TAGS:</li>
								<li><a href="#">Workout</a></li>
							</ul>
						</div>
					</div>
					<!-- /post tags -->

					<!-- post nav -->
					<div class="section-row">
						<div class="post-nav">
							<div class="prev-post">
								<a class="post-img" href="/articles/how-to-get-the-best-sleep"><img src="/images/newHome/hot-post-2.jpg" alt=""></a>
								<h3 class="post-title"><a href="#">How to get the best sleep?</a></h3>
								<span>Previous post</span>
							</div>

							<div class="next-post">
								<a class="post-img" href="/articles/how-do-muscles-grow"><img src="/images/newHome/hot-post-3.jpg" alt=""></a>
								<h3 class="post-title"><a href="#">How do Muscles grow?</a></h3>
								<span>Next post</span>
							</div>
						</div>
					</div>
					<!-- /post nav  -->

					<!-- post author -->
					<div class="section-row">
						<div class="section-title">
							<h3 class="title">About <a href="/author.ejs">Shiv Suhane</a></h3>
						</div>
						<div class="author media">
							<div class="media-left">
								<a href="author.html">
									<img class="author-img media-object" src="/images/site-wide-resources/admins/shiv.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<p>Shiv studies CS/Finance at Drexel University, PA. He's incharge of the tech-stuff at Bulqup, and is enthusiastic about music and fitness</p>
								<ul class="author-social">
									<li><a href="https://www.facebook.com/shiv.suhane"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<% include ../partials/sidebar%> 
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	<div class="container">
		<div id="disqus_thread"></div>
	</div>
	<script>

	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	
	var disqus_config = function () {
	this.page.url = 'https://bulqup-web-ss4328.c9users.io/articles/ultimate-guide-to-gain-mass';  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = 'test/5x5'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://bulqup.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<% include ../partials/footer%>